src/**
tsconfig.json
.gitignore
*.vsix
**/*.map
.vscode-test/**
out/test/**
node_modules/@types/**
node_modules/@typescript-eslint/**
node_modules/@vscode/test-electron/**
node_modules/eslint/**
node_modules/typescript/**
node_modules/vsce/**
