__pycache__
.cursor
.vscode
runtime/target/debug/incremental/*
stdlib_archive/
push-to-public.bat
push-to-public.ps1

src/runtime/target/debug/incremental/*
src/runtime/target/debug/deps/*
src/runtime/target/debug/build/*
src/runtime/target/debug/out/*
src/runtime/target/debug/examples/*
src/runtime/target/debug/tests/*
src/runtime/target/debug/benches/*
src/runtime/target/release/incremental/*
src/runtime/target/release/deps/*
src/bootstrap/target/debug/incremental/*
src/bootstrap/target/debug/deps/*
src/bootstrap/target/debug/build/*
src/bootstrap/target/debug/out/*
src/bootstrap/target/debug/examples/*
src/bootstrap/target/debug/tests/*
src/bootstrap/target/debug/benches/*
src/bootstrap/target/release/incremental/*
src/bootstrap/target/release/deps/*
src/bootstrap/target/release/build/*
src/bootstrap/target/release/out/*
src/bootstrap/target/release/examples/*
src/bootstrap/target/release/tests/*
src/bootstrap/target/release/benches/*
src/bootstrap/target/release/examples/*
src/bootstrap/target/release/tests/*
src/bootstrap/target/release/benches/*